[submodule "vendor/bot"]
	path = vendor/bot
	url = https://github.com/ErmiyaEskandary/Slither.io-bot.git
	branch = master
[submodule "vendor/bot-ce"]
	path = vendor/bot-ce
	url = https://github.com/j-c-m/Slither.io-bot.git
	branch = master
